ion-toolbar {
  ion-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--ion-color-primary);
  }

  ion-button {
    position: relative;
    margin-left: 10px;
  }
}

ion-content {
  &.scrollable-content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
  }
}

.about-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .image-size {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.about-content {
  text-align: center;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--ion-color-medium);
    margin-bottom: 20px;
    padding: 0 15px;
  }
}

.like-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-bottom: 30px;

  .like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--ion-color-primary);
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease;
    height: 50px;

    ion-icon {
      margin-right: 5px;
      font-size: 1.5rem;
    }

    &:hover {
      transform: scale(1.05);
      background-color: var(--ion-color-primary-shade);
    }
  }
}
