ion-toolbar {
  ion-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--ion-color-primary);
  }

  ion-button {
    position: relative;
  }
}

.apply-team-content {
  --background: var(--ion-color-light);
  padding: 15px;
}

.selector-container {
  margin-bottom: 15px;
}

#first {
  margin-top: 30px;
}

.styled-item {
  --background: var(--ion-color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

ion-select {
  text-transform: capitalize;
  padding: 8px;
  border-radius: 4px;
  --placeholder-color: var(--ion-color-medium);
}

ion-textarea {
  margin: 10px 0px;
  border-radius: 8px;
  --background: var(--ion-color-light);
}

.submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#button-submit {
  --border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
  max-width: 300px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(0px) scale(1.1);
    --box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--ion-color-primary-tint);
  }
}
