<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-input [(ngModel)]="username" placeholder="Username" label="Username" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password" type="password" placeholder="Password" label="Password" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()">Login</ion-button>

    <ion-item lines="none" class="register-link">
      <p>Don't have an account? 
        <ion-button fill="clear" color="primary" size="small" (click)="navigateToRegister()">Register</ion-button>
      </p>
    </ion-item>
  </ion-card>
</ion-content>
