<ion-app>
  <ion-router-outlet *ngIf="fullname" id="main-content"></ion-router-outlet>

  <!-- Tabs Navigation -->
  <ion-tabs *ngIf="fullname">
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="games">
        <ion-icon name="game-controller-outline" size="large"></ion-icon>
        <ion-label>What We Play</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="people-outline" size="large"></ion-icon>
        <ion-label>Who We Are</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <ion-label>Our Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- Drawer Navigation -->
  <ion-menu auto-hide="true" content-id="main-content" *ngIf="fullname">
    <ion-header>
      <ion-toolbar>
        <div class="profile-container">
          <ion-avatar>
            <img [src]="photo_profile" alt="Profile Photo" />
          </ion-avatar>
          <ion-label>Welcome, {{ fullname }}</ion-label>
        </div>        
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/apply">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Apply Team</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header [translucent]="true" *ngIf="!fullname">
    <ion-toolbar>
      <ion-title slot="primary">
        {{ cekTitle() }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding" *ngIf="!fullname">

    <!-- Tampilan Login -->
    <div *ngIf="!isRegisterMode">

      <ion-card class="login-image-container">
        <img src="https://i.ibb.co.com/pjJRH07/fix.png" alt="Login Illustration" class="login-image" />
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-input
            [(ngModel)]="username"
            placeholder="Username"
            label="Username"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="Password"
            label="Password"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
  
        <ion-button expand="block" (click)="login()">Login</ion-button>
  
        <ion-item lines="none" class="register-link">
          <p>
            Don't have an account?
          </p>
          <ion-button
              fill="clear"
              color="primary"
              size="default"
              (click)="toggleMode()">
              Register
            </ion-button>
        </ion-item>
      </ion-card>
    </div>
  
    <!-- Tampilan Register -->
    <div *ngIf="isRegisterMode">
      <ion-card>
        <ion-item>
          <ion-input
            [(ngModel)]="first_name"
            placeholder="First Name"
            label="First Name"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            [(ngModel)]="last_name"
            placeholder="Last Name"
            label="Last Name"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input
            [(ngModel)]="username"
            placeholder="Username"
            label="Username"
            labelPlacement="floating"
            (ngModelChange)="validateUsername()"
          ></ion-input>
        </ion-item>
        <p class="error-text" *ngIf="usernameError">{{ usernameError }}</p>
  
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="Password"
            label="Password"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input
            [(ngModel)]="confirm_password"
            type="password"
            placeholder="Confirm Password"
            label="Confirm Password"
            labelPlacement="floating"
            (ngModelChange)="validateConfirmPassword()"
          ></ion-input>
        </ion-item>
        <p class="error-text" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</p>

        <ion-item>
          <ion-input
            [(ngModel)]="photo_profile"
            placeholder="Photo Profile URL"
            label="Photo Profile"
            labelPlacement="floating"
            (ngModelChange)="validatePhotoProfile()"
          ></ion-input>
        </ion-item>
        <p class="error-text" *ngIf="photoProfileError">{{ photoProfileError }}</p>

        <ion-item>
          <ion-checkbox [(ngModel)]="agreeTerms" slot="start"></ion-checkbox>
          <ion-label>I agree with terms and conditions</ion-label>
        </ion-item>
  
        <ion-button expand="block" (click)="register()" [disabled]="!agreeTerms">Register</ion-button>
        <ion-button expand="block" fill="outline" (click)="toggleMode()">Back to Login</ion-button>
      </ion-card>
    </div>
  
  </ion-content>
  
</ion-app>
