<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container>
    <ion-card>
      <img [src]="selected_teams.image" class="image-size" />
      <ion-card-content>
        <h1>{{ selected_teams.name }}</h1>
        <ion-list>
          <ion-item *ngFor="let team of team_members(selected_teams)">
            <ion-label>
              <h2 [routerLink]="['/team-member', team.key]">{{team.key}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
